@keyframes sway-right {
  0% {
    transform: scaleY(1);
    margin-left: 0;
  }
  50% {
    transform: scaleY(0.95);
    margin-left: 10px;
  }
  100% {
    transform: scaleY(1);
    margin-left: 0;
  }
}

@keyframes sway-left {
  0% {
    transform: scaleY(1);
    margin-left: 0;
  }
  50% {
    transform: scaleY(0.95);
    margin-left: -10px;
  }
  100% {
    transform: scaleY(1);
    margin-left: 0;
  }
}

